.head {
  margin: 1.8rem 0;
}

.head-main {
  font-weight: bold;
  margin: 0;
}

.head-para {
  color: var(--para);
  font-weight: bold;
}

.light {
  font-weight: bold;
}

.over {
  font-weight: bold;
  color: var(--para);
  margin: 0;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fafafa;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: linear-gradient(#378FE6, #3EDA82);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html {
  --Card: hsl(227, 47%, 96%);
  --CardHover: hsl(227, 21%, 92%);
  --para: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
}

html[data-theme='dark'] {
  --Card: hsl(228, 28%, 20%);
  --CardHover: hsl(229, 26%, 28%);
  --para: hsl(228, 34%, 66%) ;
  --text: hsl(0, 0%, 100%);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 65,2%;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

.flip {
  background-color: var(--Card);
  margin: 1rem;
  border-radius: 5px;
  height: 100%;
}

.flip-mini {
  background-color: var(--Card);
  margin: 1rem;
  border-radius: 5px;
  height: 100%;
}

.flip-mini:hover {
  cursor: pointer;
  background-color: var(--CardHover);
}

.flip:hover {
  cursor: pointer;
  background-color: var(--CardHover);
}

.flip-facebook {
  border-top: 4px solid #198ff5;
}

.flip-twitter {
  border-top: 4px solid #1ca0f2;
}

.flip-instagram {
  border-top: 4px solid;
  border-image: linear-gradient(to left, #fdc468 1%, #df4996 100%);
  border-image-slice: 1;
  border-radius: 5px;
}

.flip-youtube {
  border-top: 4px solid #c4032a;
}

.twi {
  color: var(--text);
}

.social {
  margin: 1rem 0;
}

.number {
  font-size: 4rem;
  color: var(--text);
  font-weight: bold;
  margin: 0;
}

.followers {
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--para);
  letter-spacing: .3rem;
  font-size: .8rem;
}

.live {
  margin: 1rem 0;
}

.live-increase {
  color: #1db489;
  font-weight: bold;
}

.live-decrease {
  color: #dc414c;
  font-weight: bold;
}

.mini-card-1 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mini-card-1-img {
  height: 1.5rem;
}

.mini-card-1-para {
  font-weight: bold;
  color: var(--para);
}

.mini-card-2 {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.number-mini {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text);
}
/*# sourceMappingURL=main.css.map */