html{

--Card : hsl(227, 47%, 96%);
--CardHover : hsl(227, 21%, 92%);
--para: hsl(228, 12%, 44%);
--text : hsl(230, 17%, 14%);

}

html[data-theme='dark'] {
 
--Card: hsl(228, 28%, 20%);
--CardHover : hsl(229, 26%, 28%);
--para: hsl(228, 34%, 66%) ;//text;
--text: hsl(0, 0%, 100%); //text
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 65,2%;
  font-family: 'Inter', sans-serif;
}




$LimeGreen: hsl(163, 72%, 41%);
$BrightRed: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$Youtube: hsl(348, 97%, 39%);

//Dark Theme

$ToggleDark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);;

//Light Theme

$ToggleLight: hsl(230, 22%, 74%);







p{
  margin: 0;
}
